.add-user{
    width:400px;
    margin:40px auto;
}

.add-user h2{
    text-align:center;
    margin-bottom:20px;
}

.add-user form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.add-user input,
.add-user select{
    padding:10px;
    font-size:16px;
}

.add-user button{
    padding:12px;
    cursor:pointer;
}
.back-btn {
  background: #6c757d;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 15px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #545b62;
}