.admin-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f5f5;
}

.admin-box{
    width:350px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    text-align:center;
}

.admin-btn{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#2563eb;
    color:white;
    font-size:16px;
}

.admin-btn:hover{
    background:#1d4ed8;
}