.change-password{
    width:400px;
    margin:50px auto;
}

.change-password form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.change-password input{
    padding:10px;
}

.change-password button{
    padding:10px;
    cursor:pointer;
}
